<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/static/images/ic.png">
	<script type="text/javascript" src="/static/script/profile.js"></script>
	<title>404</title>
	<style type="text/css">
		.h{
			color: white;
		}
		body{
			background: #007cff;
		}
		.sdf{
			color: white;
		}
	</style>
</head>
<body>

<div>
	<center>
		<br><br>
		<h1 class="h">404 error</h1>
		<br>
		<h3 class="h">No such profile found</h3>
		<br><br>
		<a class="sdf" href="/">Back to home</a>
	</center>
</div>

</body>
</html>