<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/static/images/ic.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/index.min.css">
	<title>Cloud files</title>
</head>
<body>
	<p id="hed">Cloud drive</p>
	<center>
		<p id="des">File storage and synchronization service. Now store your files in cloud and access it anywhere through internet. <br>Get upto 25 GB free!!</p>
		<div id="img-sign">
			<img id="mn" src="/static/images/doc3.gif">
			<div id="sgn">
				<a href="/sign_up"><button class="sgn-btn">Sign up</button></a>
				<br>
				<a href="/sign_in"><button class="sgn-btn">Sign in</button></a>
			</div>
		</div>
	</center>
	<script type="text/javascript">
		if (window.innerWidth > window.innerHeight) {
			document.getElementsByTagName("link")[1].href="/static/css/index.max.css";
		}
	</script>
</body>
</html>